## The benefit of using standardized data is that it is easier for the user to read. If the data isn't organized into a standard output, it can be confusing for the user to try to make sense of what they're looking at. Unstandardized data also doesn't look very professional so when using it in a business setting it will make the person presenting it look unprofessional as well.

In [1]:
import pandas as pd

In [3]:
movies = pd.read_csv('movies.csv', index_col=0, header=0)

In [4]:
movies

,American Sniper,Edge of Tomorrow,Groundhog Day,Jurassic World,Lost in Translation,Lucy
Alex,4.0,4,NaN,3,1.0,3.0
Deb,3.0,1,1.0,4,5.0,NaN
JaQ,NaN,2,4.0,3,4.0,1.0
Corey,5.0,4,4.0,3,NaN,3.0
Dan,4.0,3,5.0,2,1.0,NaN

# Find the average movie and user ratings

In [5]:
movie_rating = movies.mean(axis=0)
user_rating = movies.mean(axis=1)

In [6]:
movie_rating

American Sniper        4.000000
Edge of Tomorrow       2.800000
Groundhog Day          3.500000
Jurassic World         3.000000
Lost in Translation    2.750000
Lucy                   2.333333
dtype: float64

In [7]:
user_rating

Alex     3.0
Deb      2.8
JaQ      2.8
Corey    3.8
Dan      3.0
dtype: float64

# Standardize the data

In [18]:
std_movie_rating = movie_rating.round(decimals=2)

In [20]:
std_user_rating = user_rating.round(decimals=2)

In [21]:
std_movie_rating

American Sniper        4.00
Edge of Tomorrow       2.80
Groundhog Day          3.50
Jurassic World         3.00
Lost in Translation    2.75
Lucy                   2.33
dtype: float64

In [22]:
std_user_rating

Alex     3.0
Deb      2.8
JaQ      2.8
Corey    3.8
Dan      3.0
dtype: float64

# Sort the movies from most to least popular

In [29]:
sorted_movie_ratings = std_movie_rating.sort_values(axis=0, ascending=False)

In [30]:
sorted_movie_ratings

American Sniper        4.00
Groundhog Day          3.50
Jurassic World         3.00
Edge of Tomorrow       2.80
Lost in Translation    2.75
Lucy                   2.33
dtype: float64